MONGODB_URI = YOUR_MONGODB_URI
NODE_ENV = YOUR_NODE_ENV
PORT = YOUR_PORT_NUMBER

JWT_ACCESS_SECRET = YOUR_JWT_ACCESS_SECRET
JWT_REFRESH_SECRET = YOUR_JWT_REFRESH_SECRET


INTERNAL_SERVICE_SECRET = YOUR_INTERNAL_SERVICE_SECRET

AUTH_SERVICE_URL= YOUR_AUTH_SERVICE_URL
BUSINESS_PROFILE_SERVICE=YOUR_BUSINESS_PROFILE_SERVICE
CHAT_SERVICE_URL=YOUR_CHAT_SERVICE_URL
EMAIL_SERVICE_URL=YOUR_EMAIL_SERVICE_URL

RABBITMQ_URL =YOUR_RABBITMQ_URL
REDIS_URL=YOUR_REDIS_URL